body{
    background-color: rgb(41, 41, 41);
    font-family: arial;
}
h1{
    color: aqua;
    font-size: 60px;
    
}
h2{
    color: rgb(229, 255, 80);
    font-size: 42px;
}

.sub1{
    color: rgb(161, 250, 28);
    font-size: 32px;
}
li{
    color: azure;
    font-size: 24px;
}
b{
    color: rgb(201, 25, 201);
}
.sub2{
    color: coral;
    font-size: 32px;
}