body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    gap: 0px;
    background-color: rgb(246, 215, 250);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    gap: 5px;

    top: 50%;
    left: 50%;
   
    padding: 15px;
    width: auto;
    height: auto;
    background-color: rgb(240, 114, 175);
    color: aliceblue;
    border-radius: 15px;
}
    .calculadora button{
        border-radius: 10px;
        background-color: rgb(255, 158, 205);
        width: 50px;
        height: 50px;
        color: aliceblue;
        border: 0px;
        transition: all 0.1s;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }
        .calculadora button:hover{
            color: rgb(240, 114, 175);
            background-color: rgb(227, 240, 252);
        }
        .calculadora #resultado{
            grid-column: 1/5;
            grid-row: 1;
            background-color: aliceblue;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            margin: 0%;
        }
        .calculadora .AC{
            grid-column: 1;
            grid-row: 2;
        }
        .calculadora .C{
            grid-column: 2;
            grid-row: 2;
        }
        .calculadora .barra{
            grid-column: 3;
            grid-row: 2;
        }
        .calculadora .vezes{
            grid-column: 4;
            grid-row: 2;
        }
        .calculadora .sete{
            grid-column: 1;
            grid-row: 3;
        }
        .calculadora .oito{
            grid-column: 2;
            grid-row: 3;
        }
        .calculadora .nove{
            grid-column: 3;
            grid-row: 3;
        }
        .calculadora .menos{
            grid-column: 4;
            grid-row: 3;
        }
        .calculadora .quatro{
            grid-column: 1;
            grid-row: 4;
        }
        .calculadora .cinco{
            grid-column: 2;
            grid-row: 4;
        }
        .calculadora .seis{
            grid-column: 3;
            grid-row:4;
        }
        .calculadora .mais{
            grid-column: 4;
            grid-row:4;
        }
        .calculadora .um{
            grid-column: 1;
            grid-row: 5;
        }
        .calculadora .dois{
            grid-column: 2;
            grid-row: 5;
        }
        .calculadora .tres{
            grid-column: 3;
            grid-row: 5;
        }
        .calculadora .igual{
            grid-column: 4;
            grid-row: 5/7;
            height: 100%;
        }
        .calculadora .zero{
            width: 100%;
            grid-column: 1/3;
            grid-row: 6;
        }
        .calculadora .ponto{
            grid-column: 3;
            grid-row: 6;
        }