*{
    font-family: "Merriweather",serif;
}
header{
    background-color: #29025e;

}
header h1{
    color:  rgb(255, 255, 255);

}
aside{
    background-color: #5d0892;
}
main{
    background-color: aliceblue;
}
footer{
    background-color:#61417a ;
}
