body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(181, 220, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    font-family: 'Newsreader', serif;
}

.topicos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(238, 255, 201);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 20px;
    width: 50px; 
    height: auto; 
}

h1 {
    text-align: center;
    width: 100%;
}

.esquerda {
    width: 60%;
}

.direita {
    width: 35%;
    height: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
}

input[type="text"], input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

.pedido {
    margin-top: 20px;
    height: auto;
}

.pedido p {
    font-size: 16px;
    margin: 5px 0;
}

.botao-enviar {
    background-color: black;
    color: rgb(238, 255, 201);
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao-enviar:hover {
    background-color: rgb(238, 255, 201);
    color: black;
}

@media (max-width: 1024px) {
    .topicos {
        flex-direction: column;
    }
    .esquerda {
        width: 100%;
        height: 30%;
    }
    .direita {
        width: 94.5%;
        height: 30%;
    }
}

@media (max-width: 768px) {
    .direita {
        width: 93%;
        height: 30%;
    }
}
